@page
@model OpenSaludSecurity.Pages.Medicos.IndexModel

@{
	ViewData["Title"] = "Medicos";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<meta charset="utf-8" />
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
	<title>Medicos</title>
</head>
<body>


    @*@foreach (var item in Model.Medicos)
        {
            <div class="card-columns">

                    <div class="card" style="width: 26rem;">
                        <img src="~/medico.png" height="250" width="250" class="card-img-top" alt="...">
                        <div class="card h-100">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h5>
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.Apellido1)</h5>
                            <p class="card-text">@Html.DisplayFor(modelItem => item.Especialidad)</p>
                            <div>
                                @if ((await AuthorizationService.AuthorizeAsync(
                           User, item,
                           MedicoOperations.Update)).Succeeded)
                                {
                                    <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.IdMedico">Modificar</a>
                                }
                                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.IdMedico">Seleccionar Medico</a>
                                @if ((await AuthorizationService.AuthorizeAsync(
                            User, item,
                            MedicoOperations.Delete)).Succeeded)
                                {
                                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.IdMedico">Eliminar</a>
                                }


                            </div>


                        </div>
                    </div>
                    </div>
            <br />
            <br />
        }*@

    <br />
    <br />
    <div class="row" style="display: flex">
        <h3 style="flex:auto">Catálogo de Médicos Afiliados</h3>
        @if ((await AuthorizationService.AuthorizeAsync(User, Model.Clinica, ClinicaOperations.Update)).Succeeded)
        {
            <a align="right" style="margin-left: 3rem" class="btn btn-xs btn-success" asp-page="/Medicos/Create">
                Agregar Medico</a>
        }


    </div>

    <hr />
    <br />
@*    <form>
	<nav class="navbar navbar-light bg-light">
    <p>
		<label asp-for="EspecialidadMedicaSeleccionada" class="control-label">Especialidades: </label>
		<select class="selectpicker" multiple data-live-search="true" asp-for="EspecialidadMedicaSeleccionada" asp-items="Model.EspecialidadesMedicas" >
			<option selected="selected" value="">Todas</option>			 
		</select>
		<input type="text" align="right" asp-for="SearchString" class="form-control me-2" type="search" placeholder="Buscar nombre" aria-label="Search">
		<button class="btn btn-outline-success" type="submit">Buscar</button>       
		

        
    </p>
	</nav>
</form>*@

    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Buscar por nombre:
                <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Buscar" class="btn btn-primary" /> |
                <a asp-page="./Index">Limpiar Filtros</a>
            </p>
        </div>
    </form>
    <br />

    <div class="container-fluid padding">
        <div class="card-columns">
            @foreach (var item in Model.Medicos)
            {
            <div class="card">
                @if (item.MedicoImagen != null)
                {
                    <img class="card-img-top" src="~/images/@item.MedicoImagen">
                }
                else
                {
                    <img class="card-img-top" src="~/Medico.jpg">
                }
                <div class="card-body">
                    <h5 class="card-title">
                        @Html.DisplayFor(modelItem => item.Nombre)
                        @Html.DisplayFor(modelItem => item.Apellido1)
                    </h5>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.Especialidad)</p>
                    <div>
                        @if ((await AuthorizationService.AuthorizeAsync(
                    User, item,
                    MedicoOperations.Update)).Succeeded)
                        {
                            <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.IdMedico">Modificar</a>
                        }
                        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.IdMedico">Seleccionar Médico</a>
                        @if ((await AuthorizationService.AuthorizeAsync(
                User, item,
                MedicoOperations.Delete)).Succeeded)
                        {
                            <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.IdMedico">Eliminar</a>
                        }
                    </div>
                </div>
                <div class="card-footer">
                    <small class="text-muted">Calificación: 5 estrellas</small>
                </div>
            </div>
                <br />
                <br />
            }
        </div>
    </div>


 @{
    var prevDisabled = !Model.MedicosList.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.MedicosList.HasNextPage ? "disabled" : "";
}

<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.MedicosList.PageIndex - 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @prevDisabled">
    Previous
</a>
<a asp-page="./Index"
   asp-route-sortOrder="@Model.CurrentSort"
   asp-route-pageIndex="@(Model.MedicosList.PageIndex + 1)"
   asp-route-currentFilter="@Model.CurrentFilter"
   class="btn btn-primary @nextDisabled">
    Next
</a>
</body>
</html>