@page
@model OpenSaludSecurity.Pages.Citas.IndexModel

@{
    ViewData["Title"] = "Citas";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Citas</title>
</head>

<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Citas[0].FechaCita)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Citas[0].DescripcionCita)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Citas[0].Usuario.CorreoUsuario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Citas[0].Clinica.Nombre)
                </th>
                <th>
                    Nombre Medico
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Citas[0].Estado)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Citas)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FechaCita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DescripcionCita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.CorreoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clinica.Nombre)
                </td>
                <td>
                    <p>
                        @Html.DisplayFor(modelItem => item.Medico.Nombre)
                        @Html.DisplayFor(modelItem => item.Medico.Apellido1)
                        @Html.DisplayFor(modelItem => item.Medico.Apellido2)
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Estado)
                </td>
                <td>
                    <div>
                        @if ((await AuthorizationService.AuthorizeAsync(
                    User, item,
                    CitaOperations.Update)).Succeeded)
                        {
                        <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.IdCita">Modificar</a>
                        }
                        <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.IdCita">Detalles</a>
                        @if ((await AuthorizationService.AuthorizeAsync(
                        User, item,
                        CitaOperations.Delete)).Succeeded)
                        {
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.IdCita">Eliminar</a>
                        }
                    </div>
                </td>
            </tr>

            }
        </tbody>
    </table>

    @{
    var prevDisabled = !Model.Citas.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Citas.HasNextPage ? "disabled" : "";
    }
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.Citas.PageIndex - 1)"
       class="btn btn-primary @prevDisabled">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z" />
        </svg>
    </a>
    <a asp-page="./Index"
       asp-route-pageIndex="@(Model.Citas.PageIndex + 1)"
       class="btn btn-primary @nextDisabled">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
        </svg>
    </a>
</body>
</html>