@page
@model OpenSaludSecurity.Pages.Calificaciones.DeleteModel

@{
    ViewData["Title"] = "Calificaciones";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calificaciones</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <h3>Está seguro que desea eliminar esta calificacion?</h3>
    <div>
        <h4>Calificacion</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Calificacion.Comentario)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Calificacion.Comentario)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Calificacion.Estrellas)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Calificacion.Estrellas)
            </dd>
        </dl>

        <form method="post">
            <input type="hidden" asp-for="Calificacion.IdCalificacion" />
            <input type="submit" value="Eliminar" class="btn btn-danger" /> |
            <a asp-page="./Index">Volver</a>
        </form>
    </div>
</body>
</html>