@page
@model OpenSaludSecurity.Pages.Calificaciones.IndexModel

@{
    ViewData["Title"] = "Calificaciones";
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Calificaciones</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>

    <p>
        <a class="btn btn-info btn-lg" asp-page="Clinicas/Index" > <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
        </svg> Volver </a>

        <a class="btn btn-info btn-lg" asp-page="Create" > <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-file-plus-fill" viewBox="0 0 16 16">
          <path d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM8.5 6v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 1 0z"/>
        </svg> Agregar calificación </a>


    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Calificaciones[0].Usuario.NombreUsuario) 
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Calificaciones[0].Comentario)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Calificaciones[0].Estrellas)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Calificaciones[0].Clinica)
                </th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Calificaciones)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Usuario.CorreoUsuario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Comentario)
                </td>
                <td>
                    @if (item.Estrellas == 1)
                    {
                        <div class="rating">
                            @Html.RadioButton($"star5-{item.IdCalificacion}", 5, false, new { @class = "radio-btn hide" })

                            <label for="star5">☆</label>
                            @Html.RadioButton($"star4-{item.IdCalificacion}", 4, false, new { @class = "radio-btn hide" })
                            <label for="star4">☆</label>
                            @Html.RadioButton($"star3-{item.IdCalificacion}", 3, false, new { @class = "radio-btn hide" })
                            <label for="star3">☆</label>
                            @Html.RadioButton($"star2-{item.IdCalificacion}", 2, false, new { @class = "radio-btn hide" })
                            <label for="star2">☆</label>
                            @Html.RadioButton($"star1-{item.IdCalificacion}", 1, true, new { @class = "radio-btn hide" })
                            <label for="star1">☆</label>
                            <div class="clear"></div>
                        </div>
                    }
                    @if (item.Estrellas == 2)
                    {
                        <div class="rating">
                            @Html.RadioButton($"star5-{item.IdCalificacion}", 5, false, new { @class = "radio-btn hide" })

                            <label for="star5">☆</label>
                            @Html.RadioButton($"star4-{item.IdCalificacion}", 4, false, new { @class = "radio-btn hide" })
                            <label for="star4">☆</label>
                            @Html.RadioButton($"star3-{item.IdCalificacion}", 3, false, new { @class = "radio-btn hide" })
                            <label for="star3">☆</label>
                            @Html.RadioButton($"star2-{item.IdCalificacion}", 2, true, new { @class = "radio-btn hide" })
                            <label for="star2">☆</label>
                            @Html.RadioButton($"star1-{item.IdCalificacion}", 1, false, new { @class = "radio-btn hide" })
                            <label for="star1">☆</label>
                            <div class="clear"></div>
                        </div>
                    }
                    @if (item.Estrellas == 3)
                    {
                        <div class="rating">
                            @Html.RadioButton($"star5-{item.IdCalificacion}", 5, false, new { @class = "radio-btn hide" })

                            <label for="star5">☆</label>
                            @Html.RadioButton($"star4-{item.IdCalificacion}", 4, false, new { @class = "radio-btn hide" })
                            <label for="star4">☆</label>
                            @Html.RadioButton($"star3-{item.IdCalificacion}", 3, true, new { @class = "radio-btn hide" })
                            <label for="star3">☆</label>
                            @Html.RadioButton($"star2-{item.IdCalificacion}", 2, false, new { @class = "radio-btn hide" })
                            <label for="star2">☆</label>
                            @Html.RadioButton($"star1-{item.IdCalificacion}", 1, false, new { @class = "radio-btn hide" })
                            <label for="star1">☆</label>
                            <div class="clear"></div>
                        </div>
                    }
                    @if (item.Estrellas == 4)
                    {
                        <div class="rating">
                            @Html.RadioButton($"star5-{item.IdCalificacion}", 5, false, new { @class = "radio-btn hide" })

                            <label for="star5">☆</label>
                            @Html.RadioButton($"star4-{item.IdCalificacion}", 4, true, new { @class = "radio-btn hide" })
                            <label for="star4">☆</label>
                            @Html.RadioButton($"star3-{item.IdCalificacion}", 3, false, new { @class = "radio-btn hide" })
                            <label for="star3">☆</label>
                            @Html.RadioButton($"star2-{item.IdCalificacion}", 2, false, new { @class = "radio-btn hide" })
                            <label for="star2">☆</label>
                            @Html.RadioButton($"star1-{item.IdCalificacion}", 1, false, new { @class = "radio-btn hide" })
                            <label for="star1">☆</label>
                            <div class="clear"></div>
                        </div>
                    }
                    @if (item.Estrellas == 5)
                    {
                        <div class="rating">
                            @Html.RadioButton($"star5-{item.IdCalificacion}", 5, true, new { @class = "radio-btn hide" })

                            <label for="star5">☆</label>
                            @Html.RadioButton($"star4-{item.IdCalificacion}", 4, false, new { @class = "radio-btn hide" })
                            <label for="star4">☆</label>
                            @Html.RadioButton($"star3-{item.IdCalificacion}", 3, false, new { @class = "radio-btn hide" })
                            <label for="star3">☆</label>
                            @Html.RadioButton($"star2-{item.IdCalificacion}", 2, false, new { @class = "radio-btn hide" })
                            <label for="star2">☆</label>
                            @Html.RadioButton($"star1-{item.IdCalificacion}", 1, false, new { @class = "radio-btn hide" })
                            <label for="star1">☆</label>
                            <div class="clear"></div>
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Clinica.Nombre)
                </td>
                <td>
                    @if ((await AuthorizationService.AuthorizeAsync(
          User, item,
          CalificacionOperations.Update)).Succeeded)
                    {
                        <a class="btn btn-info" asp-page="./Edit" asp-route-id="@item.IdCalificacion">Modificar</a>
                    }

                    @if ((await AuthorizationService.AuthorizeAsync(
          User, item,
          CalificacionOperations.Delete)).Succeeded)
                    {
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.IdCalificacion"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                          <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z"/>
                        </svg> </a>
                       
                    }
                </td>
            </tr>
            }
        </tbody>
    </table>
</body>
</html>