@page
@model OpenSaludSecurity.Pages.Clinicas.DetailsModel

@{
	ViewData["Title"] = "Afiliacion Clínica";
}

<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />

	<meta http-equiv=”Content-Type” content=”text/html; charset=UTF-8″ />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - @Html.DisplayFor(model => model.Clinica.Nombre)</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
</head>
<a class="btn btn-info btn-lg" asp-page="Index" > <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z"/>
        </svg> Volver </a>
		
<body>
	<br />
	<div>
		<h3>@Html.DisplayFor(model => model.Clinica.Nombre)</h3>
		<hr />
		<dl class="row">			
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Clinica.Descripcion)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Clinica.Descripcion)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Clinica.IdRepresentante)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Clinica.IdRepresentante)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Clinica.Direccion)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Clinica.Direccion)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Clinica.Categoria)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Clinica.Categoria)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Clinica.Ciudad)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Clinica.Ciudad)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Clinica.Telefono)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Clinica.Telefono)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Clinica.Email)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Clinica.Email)
			</dd>
		</dl>
	</div>
	<a class="btn btn-primary" asp-page="../Medicos/Index" asp-route-idClinica="@Model.Clinica.IdClinica"><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-clipboard2-pulse-fill" viewBox="0 0 16 16">
	  <path d="M10 .5a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5.5.5 0 0 1-.5.5.5.5 0 0 0-.5.5V2a.5.5 0 0 0 .5.5h5A.5.5 0 0 0 11 2v-.5a.5.5 0 0 0-.5-.5.5.5 0 0 1-.5-.5Z"/>
	  <path d="M4.085 1H3.5A1.5 1.5 0 0 0 2 2.5v12A1.5 1.5 0 0 0 3.5 16h9a1.5 1.5 0 0 0 1.5-1.5v-12A1.5 1.5 0 0 0 12.5 1h-.585c.055.156.085.325.085.5V2a1.5 1.5 0 0 1-1.5 1.5h-5A1.5 1.5 0 0 1 4 2v-.5c0-.175.03-.344.085-.5ZM9.98 5.356 11.372 10h.128a.5.5 0 0 1 0 1H11a.5.5 0 0 1-.479-.356l-.94-3.135-1.092 5.096a.5.5 0 0 1-.968.039L6.383 8.85l-.936 1.873A.5.5 0 0 1 5 11h-.5a.5.5 0 0 1 0-1h.191l1.362-2.724a.5.5 0 0 1 .926.08l.94 3.135 1.092-5.096a.5.5 0 0 1 .968-.039Z"/>
	</svg><h5>Nuestros Médicos</h5></a>

	@if (Model.Clinica.Status != Constants.RequestStatus.Approved)
	{
		@if ((await AuthorizationService.AuthorizeAsync(
   User, Model.Clinica, ClinicaOperations.Approve)).Succeeded)
		{
			<form style="display:inline;" method="post">
				<input type="hidden" name="id" value="@Model.Clinica.IdClinica" />
				<input type="hidden" name="status" value="@Constants.RequestStatus.Approved" />
				<button type="submit" class="btn btn-xs btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
			  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
			</svg>Aprobar</button>
			</form>
		}
	}
	@if (Model.Clinica.Status != Constants.RequestStatus.Rejected)
	{
		@if ((await AuthorizationService.AuthorizeAsync(
	 User, Model.Clinica, ClinicaOperations.Reject)).Succeeded)
		{
			<form style="display:inline;" method="post">
				<input type="hidden" name="id" value="@Model.Clinica.IdClinica" />
				<input type="hidden" name="status" value="@Constants.RequestStatus.Rejected" />
				<button type="submit" class="btn btn-xs btn-danger"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
				  <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
				</svg>Rechazar</button>
			</form>
		}
	}
	<div>
		@if ((await AuthorizationService.AuthorizeAsync(
		  User, Model.Clinica,
		  ClinicaOperations.Update)).Succeeded)
		{
			<a asp-page="./Edit" asp-route-id="@Model.Clinica.IdClinica">Modificar</a>
		}
		

		
	</div>
</body>
</html>
